#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

body, html{

  background-color: #1B263B;
  background: linear-gradient(to bottom, #43577c, #1B263B);
  margin: 0;
  padding: 0;
  height: fit-content;

}

.Outer_Box, .Intro_Box, .heading{

  display: flex;
  align-items: center;
  justify-content: center;

}

.Outer_Box{


  height: 90vh;
  width: 190vh;

  margin: 5vh;
  margin-top: 20vh;

  background-color: rgb(136, 34, 34);

}

.Intro_Box{

  background-color: rgb(76, 141, 141);
  width : 190vh;
  height: 40vh;
  margin: 5vh;

  align-items: flex-start;
}

.Intro_Box .heading{

  height: 10vh;
  color: #E0E1DD;

}