#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

body,
html {
  background: linear-gradient(to bottom, #43577c, #1B263B);
  margin: 0;
  padding: 0;
  height: fit-content;
  width: auto;
}

.body,
html::-webkit-scrollbar {
  display: none;
}

.Outer_Box,
.Intro_Box,
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Outer_Box_Flex .Outer_Box_Grid {
  
  display: grid;
  grid-template-columns: repeat(9, auto); 
  grid-template-rows: repeat(9, auto);

  overflow-x: auto;
  overflow-y: auto;
  border: 2px solid red;
}

.Outer_Box_Flex{

  display: flex;
  align-items: flex-start;
  justify-content: center;

  height: 98vh;
  width: 95vw;
  margin: 5vh;
  margin-top: 8vh;
  margin-bottom: 1.5vh;

  border-radius: 4vh;

  overflow-y: auto;
  overflow-x: auto;

  

}
/*
.Outer_Box_Flex::-webkit-scrollbar{

  display: none;

}

.Outer_Box_Grid::-webkit-scrollbar{

  display: none;

}
*/

.Intro_Box {
  width: 95vw;
  height: 40vh;
  margin: 5vh;
  align-items: flex-start;
}

.Intro_Box .heading {
  height: 10vh;
  color: #272323;
}

.Intro_Box .Intro_Text {
  color: #272323;
  font-size: 3.5vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

.Room_Visited {
  height: 65vh; 
  width: 40vw; 
  background-color: #272323;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #000000;
  flex-shrink: 0;
} 

.Room_Unvisited{

  background-color: #1B263B;

}
