#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

body,
html {

  background: linear-gradient(to bottom, #43577c, #1B263B);
  margin: 0;
  padding: 0;
  height: 99vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 0vw;
  min-height: 0vh;
}

body,
html::-webkit-scrollbar {
  display: none;
}

.IntroBox,
.Heading {

  display: flex;
  align-items: flex-start;
  justify-content: center;
  
  width: 100%;
  height: 100%;

  margin-top: 40vh;

}

.IntroBox{

    margin-top: -20vh;

}

.IntroBox .Heading {
  height: 10vh;
  color: #8bafbe;
}

.IntroBox .IntroText {

  color: #b0bec5;
  font-size: 3.5vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: x-large;

}

.IntroText{

  line-height: 2;

}

.ButtonRow{ 

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 8vh;
  gap: 8vw;

}

.PlayMagikallyButton{

  width: 20%;
  height: 8vh;

}


.PlayButton{

    width: 15%;
    height: 8vh;

}

.PlayButton, .PlayMagikallyButton {

  background-color: #3d6269;
  color: #f3f0ff ;
  border: none;
  border-radius: 10rem;
  transition: background-color 0.3s;

  font-size: 3vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;

}

.PlayButton:hover, .PlayMagikallyButton:hover {

  background-color: #0077b6;

}


.LeaderboardButton {
  position: fixed;
  top: 4vh;
  right: 4vw;

  z-index: 10000;
  height: 7vh;
  padding: 0.1rem 1.5rem;

  font-family: 'Georgia', serif;
  font-size: 1.1rem;
  color: #f8f4e3;

  border: 2px solid #5c3d2e;
  border-radius: 8px;
  background-color: #8e6b45;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background 0.3s ease;
}


.LeaderboardButton:focus,
.LeaderboardButton:active {
  outline: none;
}

.LeaderboardPanel {

  position: fixed; 
  top: 10vh;
  left: 50%;
  transform: translateX(-50%); 

  height: 60vh;
  width: 30vw;

  background: radial-gradient(circle at top left, #9cb9c0, #586868);
  border: 4px solid #5c3d2e;
  border-radius: 1.5rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  padding: 2rem;

  z-index: 10000; 

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}


.LeaderboardHeading{

  font-size:1.7rem;
  color: #0d3b50;
  text-shadow: 1px 1px 2px rgba(80, 60, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -1vh;

}

.LeaderboardText{

  font-size:1.7rem;
  color: rgb(51, 54, 54);
  text-shadow: 1px 1px 2px rgba(80, 60, 0, 0.3);

}

.LeaderboardCancelButton{

  font-family: 'Georgia', serif;
  background-color: #697475; 
  color: #f8f4e3; 

  border: 2px solid #64666d;
  padding: 0.6em 1.4em;

  font-size: 1rem;
  border-radius: 6px;
  
  cursor: pointer;
  margin-top: 0.5vh;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease, transform 0.2s ease;

}

.LeaderboardCancelButton:active{
  outline: none;
}