#root {
  max-width: none;
  width: 100vw;
  margin: 0;
  padding: 0;
}

html, 
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  overflow-y: hidden;
  overflow-x: hidden;

}

.Outer_Box_Flex{

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  height: 98vh;
  width: 100vw;

  overflow-y: scroll;
  overflow-x: scroll;


}

.Outer_Box_Grid {
  
  display: grid;
  grid-template-columns: repeat(9, 25vw); 
  grid-template-rows: repeat(9, 55vh);

  overflow-x: scroll;
  overflow-y: scroll;

  transform-style: preserve-3d;

  height: 120%;
  width: 100%;

  transform: rotateX(60deg) rotateY(0deg) rotateZ(-40deg);
  border:2px solid #000000;

}

.Outer_Box_Flex::-webkit-scrollbar{

  display: none;

}

.Outer_Box_Grid::-webkit-scrollbar{

  display: none;

}

.Room_Visited .Emoji{

  font-size: 6em;
  height: 100%;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;

}


.Floor1{
  background: repeating-linear-gradient(45deg, white 40px, black 20px, grey 45px);
}

.Floor2{
  background-color: #1B263B;
}

.Floor3{
  background-color: aquamarine;
}

.Floor4{
  background-color: #7a1c48;
}

.Floor5{
  background-color: #70a842;
}

.Floor6{
  background-color: #c4937d;
}

.Floor7{
  background-color: #6b9e28;
}

.Floor8{
  background-color: #000000;
}

.Floor9{
  background-color: #abbddd;
}

.Floor10{
  background-color: #ac8383;
}

.WallUp {

  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(to bottom, #ccc, #666);

  transform: rotateX(-10deg) translateZ(-345px) translateY(-10px);
  transform-origin: bottom;

  z-index: 2;

  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.25),
    inset 5px 0 10px rgba(0, 0, 0, 0.15);

}

.WallDown{

  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(to bottom, #ccc, #666);

  transform: rotateX(-10deg) translateY(80px) translateZ(1690px) translateX(1px);
  transform-origin: bottom;

  z-index: 2;

  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.25),
    inset 5px 0 10px rgba(0, 0, 0, 0.15);

}

.WallRight{

  width: 37.5vw;
  height: 70px;
  position: absolute;  

  top:0;
  right:0;

  background: linear-gradient(to bottom, #ccc, #666);

  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg) translateX(118px) translateZ(50px) translateY(-255px);
  transform-origin: bottom;

  z-index: 2;

  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.25),
    inset 5px 0 10px rgba(0, 0, 0, 0.15);

}

.WallLeft{

  width: 37.5vw;
  height: 70px;
  position: absolute;  

  top:0;
  right:0;

  background: linear-gradient(to bottom, #ccc, #666);

  transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg) translateX(115px) translateZ(50px) translateY(150px);
  transform-origin: bottom;

  z-index: 2;

  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.25),
    inset 5px 0 10px rgba(0, 0, 0, 0.15);

}

.Room_Visited {

  height: 100%; 
  width: 100%; 
  background-color: #272323;
  box-sizing: border-box;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  flex-shrink: 0;
  background: transparent;  

  margin-top: 100px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}  

.Room_Visited .Floor1,
.Room_Visited .Floor2,
.Room_Visited .Floor3,
.Room_Visited .Floor4,
.Room_Visited .Floor5,
.Room_Visited .Floor6,
.Room_Visited .Floor7,
.Room_Visited .Floor8,
.Room_Visited .Floor9,
.Room_Visited .Floor10{

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;

  height: 100%;
  width: 100%;
  transform-style: preserve-3d;

}
