#root {
  max-width: none;
  width: 100vw;
  margin: 0;
  padding: 0;
}

html, 
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}


.body,
html::-webkit-scrollbar {
  display: none;
}


.Outer_Box_Flex{

  display: flex;
  align-items: center;
  justify-content: center;

  height: 99vh;
  width: 100vw;

  border-radius: 4vh;

  overflow-y: auto;
  overflow-x: auto;

  perspective: 10000px;  

}

.Outer_Box_Flex .Outer_Box_Grid {
  
  display: grid;
  grid-template-columns: repeat(9, auto); 
  grid-template-rows: repeat(9, auto);

  overflow-x: auto;
  overflow-y: auto;
  
}

.Outer_Box_Grid{

  transform: rotateX(30deg) rotateZ(-20deg);
  transform-style: preserve-3d;
  transition: transform 0.5s ease;

}

.Outer_Box_Flex::-webkit-scrollbar{

  display: none;

}

.Outer_Box_Grid::-webkit-scrollbar{

  display: none;

}

.Room_Visited {
  height: 65vh; 
  width: 40vw; 
  background-color: #272323;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
} 

.Room_Visited .Emoji{

  font-size: 6em;
  height: 100%;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;


}

.Room_Visited .Floor1,
.Room_Visited .Floor2,
.Room_Visited .Floor3,
.Room_Visited .Floor4,
.Room_Visited .Floor5,
.Room_Visited .Floor6,
.Room_Visited .Floor7,
.Room_Visited .Floor8,
.Room_Visited .Floor9,
.Room_Visited .Floor10{

  display: flex;
  flex-direction: column;
  position: relative;

  height: 100%;
  width: 100%;
}

.Floor1{
  background: repeating-linear-gradient(45deg, white 40px, black 20px, grey 45px)
}

.Floor2{
  background-color: #1B263B;
}

.Floor3{
  background-color: aquamarine;
}

.Floor4{
  background-color: #7a1c48;
}

.Floor5{
  background-color: #70a842;
}

.Floor6{
  background-color: #c4937d;
}

.Floor7{
  background-color: #6b9e28;
}

.Floor8{
  background-color: #000000;
}

.Floor9{
  background-color: #abbddd;
}

.Floor10{
  background-color: #ac8383;
}


.PopupBox {

  background: white;
  color: #000000;

  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);

  font-weight: bold;
  font-style: italic;
  font-size: 3vh;

  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  z-index: 10000;

}

.confirm-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.confirm-popup {

  color: #000000;
  background: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  text-align: center;
  
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.confirm-popup button {
  margin: 0 1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
